
.background{
    background-image: url('../assets/background.png');
    background-size: cover;   
    background-position: top center;  
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
}


.pages {
    margin-top: -100vh;     /* ← pull up to overlap plants-layer */
    position: relative;
    z-index: 20;
    flex-shrink: 0;
}


.plants-layer {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 10;
    pointer-events: none;
    flex-shrink: 0;  
}

.plant1,
.plant2,
.plant3,
.plant4,
.plant5 {
    position: absolute;
    width: 120px;
}

.plant1 {
    top: 60px;
    left: 0;
}

.plant2 {
    bottom: -30px;
}

.plant3 {
    right: 0;
    bottom: -30px;
}

.plant4 {
    top: 60%;
    left: 0;
}

.plant5 {
    top: 70px;
    right: 0;
}


.fish-layer{
    position: absolute;
    inset: 0;

    overflow: hidden;
    pointer-events: none;
}

/* OUTER = horizontal swim */

.fish-wrapper{
    position: absolute;
}

/* LEFT FACING */

.fish-wrapper.left .fish{
    transform: scaleX(-1);
}

/* INNER = bobbing */

.fish-bob{
    animation: bob ease-in-out infinite;

    will-change: transform;

    transform: translate3d(0,0,0);
}

/* IMAGE */

.fish{
    width: 120px;
    opacity: 0.9;
}

/* SWIM */

@keyframes swim-right{
    from{
        transform: translateX(-250px);
    }

    to{
        transform: translateX(calc(100vw + 250px));
    }
}

@keyframes swim-left{
    from{
        transform: translateX(calc(100vw + 250px));
    }

    to{
        transform: translateX(-250px);
    }
}

/* BOB */

@keyframes bob{
    0%{
        transform: translateY(0px);
    }

    25%{
        transform: translateY(-8px);
    }

    50%{
        transform: translateY(-15px);
    }

    75%{
        transform: translateY(-8px);
    }

    100%{
        transform: translateY(0px);
    }
}