
.hero-container {
    position: relative;
    padding-top: 80px;
    background-color: #fbfaf4;
    width: 100vw;
    aspect-ratio: 16/7;
}

.temp{
    position: absolute;
    width: 300px;    
    bottom: 0;
    z-index: 1000;
}

.intro-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;

    width: 35%;
    left: 13%;

    font-size: clamp(10px, 1vw, 24px);
    /* border: 1px solid black; */
}

.red-text{
    color: rgb(103, 28, 28);
}

.lake{
    position: absolute;
    width: 70%;
    bottom: 5%;
    left: 7%;
}
.me{
    position: absolute;
    width: 30%;
    bottom: 25%;
    left: 42%;
}


  
.bait-container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 23%;
    height: 95%;
    left: 73%;
    bottom: 10%;
    z-index: 81;
    /* border: 1px solid black; */
}

.bait-hint{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    top: 35%;
    left: 65%;
    
    width: 140px;

    font-size: 14px;

}

.tackle{
    position:absolute;
    bottom: 0;
    width: 100%;
    filter: drop-shadow(0px 5px 3px rgba(98, 64, 36, 0.15));  
    z-index: 82;
}

.bait-section{
    display: flex;
    flex-direction: row;
}

.bait{
    position: absolute;
    width: 40%;
    height: auto;
    display: block;
    pointer-events: none;
    z-index: 83;
}
.bait:hover{
    transform: rotate(6deg) scale(1.08);
    cursor: pointer;
}

.bait path,
.bait circle,
.bait rect,
.bait polygon,
.bait ellipse {
    pointer-events: visiblePainted;
}

.carrot{
    top: 10%;
    left: 10%;
}
.lure{
    top: 22%;
    left: 50%;
}
.shrimp{
    top: 40%;
    left: 20%;
}

.worm{
    top: 55%;
    left: 45%;
}


.hero-footer{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;    
    bottom: -10px;
    gap: 0;
    align-items: center;

    animation: bob-footer 2.5s ease-in-out infinite;
}

.hero-footer p{
    position: absolute;
    top: 40%;
    color: rgb(134, 201, 229);
}


.scroll{
    height: 100px;
    width: 100%;
}

@keyframes bob-footer {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.arrow{
    animation:
        arrow-bob 1s ease-in-out infinite;
}

@keyframes arrow-bob{

    0%{
        transform: translateX(0px);
    }

    50%{
        transform: translateX(4px);
    }

    100%{
        transform: translateX(0px);
    }
}